body{
    background: url("../images/purple.jpg");
    background-size: cover;
}
header{
    color: #faffef;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 30px;
    font-family: system-ui, serif;
}
.text{
    text-align: left;
    color: #e0e0e0;
    margin: 50px 150px;
    font-size: 20px;
    font-family: system-ui, serif;
}
#result{
    margin: 5px 250px;
}
#literature{
    color: #faffef;
    position: absolute;
    right: 50px;
    font-size: 20px;
    padding-bottom: 20px;
}
code{
    background: rgba(255,255,255,0.51);
    padding: 1px;
    border-radius: 5px;
}