<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, user-scalable=no"/>
    <title>History of CSS</title>
    <link rel="shortcut icon"  type="image/png" href="../images/wb.png"/>
    <link rel="stylesheet" type="text/css" href="../css/history.css">
</head>
<body id = "css">
<h1 class = "css-header">Коротка історія створення CSS</h1>
<div class="text-css">
    CSS (Cascading Style Sheets - каскадні таблиці стилів) - мова опису зовнішнього вигляду web-документа, створеного за допомогою мови розмітки (HTML).
    CSS - це широкий спектр технологій, який схвалений консорціумом W3C (World Wide Web Consortium (Консорціуму Всесвітньої Павутини))
    і отримав таку назву, як «Web Стандарти». У 1990 р виникла необхідність стандартизувати їх в якісь певні єдині правила,
    завдяки яким веб-дизайнери та програмісти проектували б сайти.
    Концепція каскадних таблиць стилів була запропонована Хоконом Віум Лі - норвезьким вченим і фахівцем в області інформаційних технологій,
    який працював в той час на консорціум W3C.
    <ul>
    <li> 17 грудня 1996 року було прийнята перша версія СSS як рекомендація W3C.</li>
    <li> 18 травня 1998 року ухвалено друга версія CSS, CSS2.</li>
    <li>8 вересня 2009 року затверджено CSS2.1, як виправлену версію CSS2.</li></ul>
    На даний момент існує СSS3.

    <h3>CSS1</h3>
    У першій версії CSS була можливість задавати гарнітуру і розмір шрифту, а ще змінювати його стиль: звичайний, курсив або напівжирний.
    Також визначати рамки, фони, кольори тексту і інші елементи сторінки.
    Можна задавати відстань між словами, між рядками відступи і міжсимвольний інтервал.
    А також проводити вирівнювання тексту, таблиць, зображень.
    Були властивості внутрішніх і зовнішніх відступів і рамок, ширини, висоти і блоків. А також входили в цю специфікацію
    обмежені кошти з позиціонування різних елементів, наприклад, clear і float.
    <h3>CSS2</h3>
    CSS2 заснована на CSS1, а також зберегла зворотну сумісність з додаванням деяких функцій, а саме:
    <ul>
        <li>Виникло фіксоване, абсолютне і відносне позиціонування. За допомогою чого з'явилася можливість управляти розміщенням елементів без табличної верстки по сторінці.</li>
        <li>Для різних носіїв можливість встановлювати різними стилями.</li>
        <li>Для звукових носіїв з'явилася можливість визначати гучність і голос.</li>
        <li>Можливо встановлювати на непарних і парних сторінках під час друку різні елементи.</li>
        <li>Розширився механізм селектор.</li>
        <li>Можливість додавати вміст, який не міститься в вихідному документі.</li></ul>
    Консорціум W3C не підтримує CSS2 і настійно рекомендує застосовувати CSS2.1. CSS2.1 прийнята 2011 роки 7 червня. Вона грунтується на CSS.2.
    Виправлені помилки і видалені деякі функції.
    <h3>CSS3</h3>
    На відміну від попередніх версій специфікація розбита на модулі, розробка і розвиток яких йде незалежно.
    CSS3 заснований на CSS2.1, доповнює існуючі властивості і значення і додає нові.
    <h3>CSS4</h3>
    CSS4 розробляється консорціумом W3C з 29 вересня 2011 року. Модулі CSS4 побудовані на основі CSS3 і доповнюють
    їх новими властивостями і значеннями. Всі вони існують поки в якості чернеток (working draft).
</div>
</body>
</html>