<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Guide</title>
    <link rel="shortcut icon" href="../images/wb.png"/>
    <link rel="stylesheet" type="text/css" href="../css/guide.css">
</head>
<body id = "guide">
<div class="bg-text">
    <h1>HTML</h1>
    <iframe src="https://uk.wikipedia.org/wiki/HTML">
    Ваш браузер не підтримує iframe!
</iframe>
</div>
<div>
    <form action="html_first.html">
        <button class="button"><span>Далі</span></button>
    </form>
</div>
</body>
</html>