<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, user-scalable=no"/>
    <title>Main Page</title>
    <link rel="shortcut icon"  type="image/png" href="../images/wb.png"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div class="container HTML">
        <form action="html_guide.html">
            <button class = "button html" style="vertical-align:middle"><span>HTML</span></button>
        </form>
    </div>
    <div class="container CSS">
        <form action="css_guide.html">
            <button class = "button css" style="vertical-align:middle"><span>CSS</span></button>
        </form>
    </div>
</body>
</html>